<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<meta http-equiv="X-UA-compatible" content='ie-edge'>
		<link rel='stylesheet' href="../static/css/w3.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/all.min.css') }}">
		<link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">
		<title>Registration</title>

	</head>
	<body>
		
	    <div>
	        {% block content %}
					
	        {% endblock %}
	    </div>
	    <hr>
	    <div class='w3-center'>
	    	&copy; Copyright 2024, Edem, Froillan Kim B.
	    </div>
	</body>
</html>