{% extends 'base.html' %}
{% block content %}

<div class='w3-container w3-blue w3-margin-bottom header'>
    <h3 class="w3-left w3-margin-left w3-margin-top">{{ pagetitle }}</h3>
    <i class="fa fa-bars w3-right w3-margin-top w3-margin-bottom" id="menu-icon"></i> 
    <nav class="navbar">
        <a href="/logout" class="w3-button w3-red w3-right w3-margin-top w3-margin-bottom" id="logout">
            <i class="fa fa-sign-out-alt"></i> LOG-OUT
        </a>
        <a href="#" class="w3-right w3-button w3-margin-right w3-white w3-margin-top" id="add" onclick="openAddStudentModal()">
            <i class="fa fa-plus"></i> Add Student
        </a>
    </nav>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="w3-container flash-message 
        {% if category == 'success' %}
            success
        {% elif category == 'error' %}
            error
        {% elif category == 'info' %}
            info
        {% elif category == 'delete-success' %}
            delete-success
        {% else %}
            warning
        {% endif %}
        ">
            {% if category == 'success' %}
                <i class="fa fa-check-circle"></i>
            {% elif category == 'error' %}
                <i class="fa fa-times-circle"></i>
            {% elif category == 'warning' %}
                <i class="fa fa-exclamation-circle"></i>
            {% elif category == 'delete-success' %}
                <i class="fa fa-check-circle"></i>
            {% elif category == 'info' %}
                <i class="fa fa-info-circle"></i>
            {% endif %}
            <p>{{ message }}</p>
        </div>
        
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="w3-row-padding" id="main_container">
    <div class="w3-full">
        <table class="w3-table-all styled-table" id="table">
            <thead>
                <tr id="tr1">
                    <th class="w3-center">IDNO</th>
                    <th class="w3-center">LASTNAME</th>
                    <th class="w3-center">FIRSTNAME</th>
                    <th class="w3-center">COURSE</th>
                    <th class="w3-center">LEVEL</th>
                    <th class="w3-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr id="tr2">
                    <td class="w3-center" data-cell="IDNO:">
                        <a href="#" onclick="viewrecordstudents('{{ user['image'] }}', '{{ user['idno'] }}', '{{ user['lastname'] }}', '{{ user['firstname'] }}', '{{ user['course'] }}', '{{ user['level'] }}')">
                            {{ user["idno"] }}
                        </a>
                    </td>
                    <td class="w3-center" data-cell="LASTNAME:">{{ user["lastname"] }}</td>
                    <td class="w3-center" data-cell="FIRSTNAME:">{{ user["firstname"] }}</td>
                    <td class="w3-center" data-cell="COURSE:">{{ user["course"] }}</td>
                    <td class="w3-center" data-cell="LEVEL:">{{ user["level"] }}</td>
                    <td class="w3-center" data-cell="ACTION:">
                        <button class="w3-button w3-red delete-btn delete" onclick="openCustomAlert('{{ user['idno'] }}')">
                            <i class="fas fa-times"></i>
                        </button>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="w3-container w3-margin" id="empty_table_msg" style="display: none;">Nothing follows...</div>
    </div>
</div>

<div class="custom-modal" id="addStudentModal" style="display: none;">
    <div class="custom-modal-content w3-card-4">
        <form method="post" id="reg" action="/register" enctype="multipart/form-data" onsubmit="return checkIfFieldsExists()">
            <p class="w3-center w3-padding">
                <label for="uploadimage">
                    <img id="image" class="image">
                    <input type="file" id="uploadimage" name="uploadimage" style="display:none;" onchange="readURI(this)">
                </label>
            </p>
            <p class="fields">
                <label><b>IDNO</b></label>
                <input type="text" id="idno" name="idno" class="w3-input" maxlength="10" oninput="updateCount(this, 'idno-count', 10)">
                <span id="idno-count" class="char-count">0/10</>
            </p>
            <p class="fields">
                <label><b>LASTNAME</b></label>
                <input type="text" id="lastname" name="lastname" class="w3-input" maxlength="50" oninput="updateCount(this, 'lastname-count', 50)">
                <div id="lastname-count" class="char-count">0/50</div>
            </p>
            <p class="fields">
                <label><b>FIRSTNAME</b></label>
                <input type="text" id="firstname" name="firstname" class="w3-input" maxlength="50" oninput="updateCount(this, 'firstname-count', 50)">
                <div id="firstname-count" class="char-count">0/50</div>
            </p>
            <p class="fields">
                <label><b>COURSE</b></label>
                <input type="text" id="course" name="course" class="w3-input" maxlength="15" oninput="updateCount(this, 'course-count', 15)">
                <div id="course-count" class="char-count">0/15</div>
            </p>
            <p class="fields">
                <label><b>LEVEL</b></label>
                <input type="text" id="level" name="level" class="w3-input" maxlength="5" oninput="updateCount(this, 'level-count', 5)">
                <div id="level-count" class="char-count">0/5</div>
            </p>
            <input type="hidden" value="0" id="flag" name="flag">
            <p>
                <input type="submit" value="SAVE" class="w3-button w3-blue w3-margin-top">
                <button id="cancel-edit-btn" type="reset" class="w3-button w3-amber w3-margin-top" onclick="cancel_edit()">CANCEL</button>
            </p>            
        </form>
    </div>
</div>



<div id="viewModal" class="view-modal" style="display: none;">
    <div class="view-modal-content w3-card-4">
        <p class="w3-center w3-padding">
            <label for="uploadimage">
                <img id="image-view" class="image">
                <input type="file" id="uploadimage" name="uploadimage" style="display:none;" onchange="readURI(this)">
            </label>
        </p>
        <form method="post" action="/register" enctype="multipart/form-data">
            <input type="hidden" id="flag" name="flag" value="1">
            <input type="hidden" id="idno" name="idno">
            <p>
                <label><b>IDNO</b></label>
                <input type="text" id="idno-view" name="idno" class="w3-input" readonly>
            </p>
            <p>
                <label><b>LASTNAME</b></label>
                <input type="text" id="lastname-view" name="lastname" class="w3-input" readonly>
            </p>
            <p>
                <label><b>FIRSTNAME</b></label>
                <input type="text" id="firstname-view" name="firstname" class="w3-input" readonly>
            </p>
            <p>
                <label><b>COURSE</b></label>
                <input type="text" id="course-view" name="course" class="w3-input" readonly>
            </p>
            <p>
                <label><b>LEVEL</b></label>
                <input type="text" id="level-view" name="level" class="w3-input" readonly>
            </p>
            <button type="button" class="w3-button w3-blue w3-margin-top" onclick="editRecord()">EDIT</button>
            <button type="button" class="w3-button w3-amber w3-margin-top" onclick="closeModal()">CANCEL</button>
        </form>
    </div>
</div>




    <div id="customAlert" style="display: none;">
        <div class="alert-content">
            <h3>Are you sure you want to delete this student?</h3>
            <div class="alert-buttons">
                <form method="post" action="/delete_user" id="deleteForm">
                    <input type="hidden" id="deleteIdNo" name="idno">
                    <button type="submit" class="confirm-btn w3-red w3-button">Confirm</button>
                </form>
                <button class="cancel-btn w3-blue w3-button w3-margin-top w3-margin-bottom" onclick="closeAlert()">Cancel</button>
            </div>
        </div>
    </div>
    

<script>
    const default_img_src = "{{ url_for('static', filename='img/personicon.png') }}"; //dili mo dawat siya if i link nako sa lain file 
</script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
